.portfolio {
	margin-bottom: 80px;
	margin-top: 60px;
}

.portfolio-wrapper {
	max-width: 1440px;
	padding: 0 80px;
	margin: 0 auto;
}

.portfolio-header {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.portfolio-action {
	display: flex;
	align-items: center;
	gap: 20px;
	opacity: 0;
	visibility: hidden;
}

.portfolio-list {
	display: grid;
	grid-template-columns: repeat(3, minmax(300px, 1fr));
	gap: 20px;
}

.portfolio-item {
	position: relative;
	background-color: transparent;
	margin: 24px 0;
	transition: background-color 0.3s ease-in-out;
	height: max-content;
	cursor: pointer;
}

.portfolio-item img {
	width: 100%;
	height: auto;
}

.portfolio-text {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	padding: 20px;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.2);
	opacity: 0;
	visibility: hidden;
	color: #fff;
	transition: all 0.3s ease-in-out;
}

.portfolio-item:hover {
	background-color: #000;
}

.portfolio-item:hover .portfolio-text {
	opacity: 1;
	visibility: visible;
}

@media screen and (max-width: 992px) {
	.portfolio-wrapper {
		padding: 0 25px;
	}

	.portfolio-header {
		flex-direction: column;
		align-items: flex-start;
	}

	.portfolio-list {
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	}

	.portfolio-item {
		margin: 12px 0;
	}

	.portfolio-text {
		padding: 10px;
	}

}