.footer {
	position: relative;
	padding: 40px 0;
}

.footer-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: top;
	padding: 0 40px;
	max-width: 1440px;
	margin: 0 auto;
}

.column {
	flex: 0 0 25%;
	max-width: 25%;
}

.column--wider {
	flex: 0 0 50%;
	max-width: 50%;
}

.column p {
	color: #222;
	font-size: 14px;
}

.footer__logo {
	display: flex;
	align-items: center;
}

.footer__logo img {
	object-fit: contain;
	width: 120px;
	height: auto;
}

.footer__text {

	margin-top: 16px;
}

.footer__text p {
	font-size: 14px;
}

@media screen and (max-width: 992px) {
	.footer-wrapper {
		flex-direction: column;
		align-items: center;
		padding: 0 20px;
	}

	.column {
		flex: 0 0 100%;
		max-width: 100%;
		margin-bottom: 24px;
		text-align: center;
	}

	.column--wider {
		flex: 0 0 100%;
		max-width: 100%;
		margin-bottom: 24px;
	}

	.footer__logo {
		margin-bottom: 24px;
		justify-content: center;
	}

	.footer__logo img {
		width: 100px;
	}

}